#root {
  padding: 2rem;
  /* text-align: center; */
  text-align: -webkit-center;
}

body {
  background-color: white;
  display: flex !important;
  place-items: center;
  margin-top: 9vh !important;
  align-items: flex-start !important; 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.stepper-label {
  width: 90vw;
}

.passenger-card {
  border: rgb(0, 0, 0);
  border-style: solid;
  margin-top: 4vh;
  width: 50vw;
  justify-content: center;
  background-color: #E3F5FD !important;
}

.passenger-card-header {
  text-align: -webkit-left;
  background-color: rgb(255, 255, 255);
  padding: 10px !important;
  font-weight: bolder;
  color: #092A5E;
  /* sx={{ bgcolor: "white", color: "#092A5E" }} */
}

.passenger-form {
  background-color: white;
  padding-left: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: fit-content !important;
  margin: 0vw !important;
  /* margin-top: -5px !important; */
  margin-bottom: 20px !important;

}

.accordi {
  width: 100% !important;
}

.passComp {
  margin-top: 10% !important; 
}


.confirmation-card {
  border: rgb(0, 0, 0);
  border-style: solid;
  margin-top: 4vh;
  width: 50vw;
  background-color: #E3F5FD !important; 
}

.confirmation-card-header {
  text-align: -webkit-left;
  background-color: rgb(255, 255, 255);
  padding: 10px !important;
  font-weight: bolder;
  color: #092A5E;
}

.confirmation-form {
  background-color: white;
  padding-left: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: fit-content !important;
  margin: 0vw !important;
  margin-bottom: 20px !important;
}

.highlighter {
  font-size: large;
  color: #092A5E;
  font-weight: bolder !important;
}

.confirmation-review-form {
  background-color: #092A5E;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin: 0vw !important;
  margin-bottom: 20px !important;
}